* {
    margin: 0;
    padding: 0;
}
.content {
    margin: 0;
    display: block;
    height: 100vh;
    width: 100%;
    background: url('../../assets/roxo.jpg');
}

.container-header {
    background-color: rgba(19, 1, 43, 0);
    overflow: hidden;
  }

.navbar-E {
    display: flex;
    justify-content: space-between;
    padding: 1rem 5rem;
  }

  .logo-E{
    display: flex;
    align-items: center;
  }

  .logo-E h1{
    color: white;
  }

  .logostyle-E{
    width: 150px;
    height: 100px;
  }

  .navlist-E{
    display: flex;
    align-items: center;
  }

  .navlist-E ul{
    display: flex;
    justify-content: center;
    list-style: none;
  }

  .navlink-E{
    margin: 0 15px;
    text-decoration: none;
    font-size: 1.15rem;
    color: #fff;
    font-weight: 400;
  }

  .navlink-E:hover{
    color: #7d019c;
    transition: 0.5s;
  }
  
  .container-body{
    font-size: 20px;
    color: white;
    text-align: center;
  }

  .btn-login-entrada{
    background-color: #7d019c;
    padding: 10px;
    border: 1px solid white;
    text-decoration: none;
    color: white;
    border-radius: 10px;
  }
  .container-body h1{
    font-size: 50px;
    height: 100px;
  }
  .container-body p{
    font-size: 20px;
    
  }
  
  



