* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}


.container1{
  background-color: black;
  background: url('../../assets/roxo.jpg');
}




.containerF {
  width: 100%;
  margin: auto;
  overflow: hidden;
  
}


.container {
  background-color: #27173b33;
  width: 100%;
  margin: auto;
  padding: 20px;
  overflow: hidden;
  justify-content: center;
  border-radius: 10px;
  box-shadow: 0 0 10px    #623a97, 0 0 20px #623a97, 0 0 28px #623a97;
}


header {
  background: rgb(17, 17, 17);
  color: #fff;
  padding: 0px;
}


.logo {
  float: left;
  width: 150px;
  font-weight: bold;
}


header nav {
  float: left;
}


header nav ul {
  padding: 10px;
  list-style: none;
}


.btn-v {
  color: #bdafcf;
  padding: 8px;
  flex-direction: row;
  display: flex;
  margin: 0;
  font-size: 30px;
}


.btn-v:hover{
  color: white;
  transition: 0.5s;

}


header nav ul li a {
  color: #fff;
  text-decoration: none;
  font-size: 30px;
}


.hero {
  color: #fff;
  height: 100vh;
  display: flex;
  align-items: center;
  text-align: center;
}


.hero .container {
  height: 80%;
  width: 50rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 600px;
  
}


.hero h2 {
  padding: 8px;
  font-size: 50px;
}


.hero p {
  padding: 5px;
  font-size: 19px;
  margin-bottom: 2rem;
}


.hero .btn {
     position: relative;
     display: inline-block;
     padding: 15px 40px;
     color: #fff;
     letter-spacing: 4px;
     font-size: 24px;
     text-decoration: none;
     overflow: hidden;
     transition: 0.2s;
     background: #623a97;
     border-radius: 50px;
     margin: 20px;
}


.btn:hover{
  background: #482b6e;
  box-shadow: 0 0 10px    #623a97, 0 0 20px #623a97, 0 0 28px #623a97;
  transition-delay: 0.1s;
}


footer {
  background: #4A2C72;
  color: #fff;
  text-align: center;
  padding: 1rem 0;
  margin-top: 2rem;
}

